pytest
torchmetrics
controlnet_aux
git+https://github.com/asomoza/image_gen_aux.git
wget
pyyaml
pytest-rerunfailures
pytest-asyncio==1.2.0
comfyui@git+https://github.com/hiddenswitch/ComfyUI.git@dcba484