name: PR Tests
on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
      - 'test_data/**'
      - 'scripts/**'
      - 'example_workflows/**'
      - '.gitignore'
      - '.pre-commit-config.yaml'
      - 'licence.txt'
      - 'pyproject.toml'
      - 'requirements.txt'
      - 'requirements-pulid.txt'
      - 'README.md'
  workflow_dispatch:
    inputs:
      ref:
        description: 'Branch, tag, or SHA to test (default: main)'
        required: false
        default: 'main'
permissions:
  contents: read
concurrency:
  group: ${{ github.repository }}-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  run-tests:
    strategy:
      matrix:
        gpu: ['4090', '5090']
    runs-on:
      - self-hosted
      - ${{ matrix.gpu }}
      - test
    # Only run for non-draft PRs, or for workflow_dispatch events
    if: |
      (github.event_name == 'pull_request' && !github.event.pull_request.draft) ||
      (github.event_name == 'workflow_dispatch')
    env: {}
      # todo: you probably want to set HF_HOME instead
      # COMFYUI_MODELS_ROOT: "/home/nunchaku/comfyui_models"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
          ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.ref || '' }}
      - name: Show current commit
        run: git log -1 --oneline
      - name: Set up Python
        run: |
          which python
          echo "Setting up Python with uv"
          uv venv --python=3.13
      - name: Install ComfyUI
        run: |
          uv pip install --torch-backend=auto "comfyui@git+https://github.com/hiddenswitch/ComfyUI.git@f205eb704eed49d5696012849351724fd25c2a7d"
      - name: Install Nunchaku
        run: |
          # until we have metadata pep, this is just what we have to do
          TORCH_VERSION=$(uv pip freeze | sed -n 's/^torch==\([0-9]\+\)\.\([0-9]\+\).*/torch\1\2/p')
          uv pip install --torch-backend=auto ".[${TORCH_VERSION},pulid,dev]"
      - name: Install comfyui_controlnet_aux
        run: |
          uv pip install "comfyui_controlnet_aux@git+https://github.com/AppMana/comfyui_controlnet_aux.git"
      - name: Run tests
        run: |
          uv run pytest tests/ -x -vv
      - name: Clean up
        if: always()
        run: |
          cd ..
          rm -rf nunchaku ComfyUI
